<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <h1><%= @chemical.name %></h1>
  <p><%= @chemical.code  %></p>
  <p><%= @chemical.category %></p>
  <p><%= @chemical.official_name %></p>
  <p><%= @chemical.ingredient %></p>
  <p><%= @chemical.concentration %></p>
  <p><%= @chemical.mixture_count %></p>
  <p><%= @chemical.usefulness %></p>
  <p><%= @chemical.use_category %></p>
  <p><%= @chemical.registered_at %></p>
  <p><%= @chemical.registered_end %></p>
</p>

<%= link_to 'Edit', edit_chemical_path(@chemical) %> |
<%= link_to 'Back', chemicals_path %>
