<!DOCTYPE html>
<html>
  <head>
    <title>Agri</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Botteams Searching</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to "Botteams", "/", { :class => "brand-logo", :id => "logo-container" }  %>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">サービス</a></li>
        <li><a href="#">チーム</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">サービス</a></li>
        <li><a href="#">チーム</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    <%= yield %>
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">サイト紹介</h5>
          <p class="grey-text text-lighten-4">データを見つけやすくするサイトです</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">データ提供元</h5>
          <ul>
            <li><a class="white-text" href="#!">テスト</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">お問い合わせ</h5>
          <ul>
            <li><a class="white-text" href="#!">メール</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copy right, All right reserved. <a class="orange-text text-lighten-3" href="http://materializecss.com">Botteams</a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script>
    function go(){
      //EnterキーならSubmit
      //if(window.event.keyCode==13)document.formname.submit();
      if(window.event.keyCode==13){
        var query = $("#autocomplete-input").val()
        location.href = "/chemicals?q=" + query;
      }
    }
  </script>
  </body>
</html>
